{% extends "blog/base.html" %}

{% load wagtailcore_tags %}
{% load static%}
{% block extra_css%}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="post-info">
        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.date }}</p>
    
        <div class="intro">{{ page.intro }}</div>
    
        {{ page.body|richtext }}
    
        <p><a class="btn btn-primary" href="{{ page.get_parent.url }}">Volver al blog</a></p>    
    </div>
{% endblock %}