{% extends "blog/base.html" %}

{% load wagtailcore_tags %}

{% load static%}
{% block extra_css%}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="blog-content">
        <div class="intro">{{ page.intro|richtext }}</div>
        <div class="description">{{ page.description|richtext }}</div>
    </div>
    
    
    {% for post in page.get_children %}
        <div class="card">
            <div class="card-header">
                {{ post.title }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.specific.intro }}</h5>
                <p class="card-text">{{ post.specific.body|richtext }}</p>
                <a href="{% pageurl post %}" class="btn btn-primary">Mas</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}